<template>
  <b-container style="height: 100vh" class="d-flex align-items-center justify-content-center">
    <b-row align-v="center" class="justify-content-center">
      <b-form inline v-on:submit.prevent="lab2">
        <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="A" placeholder="A" />
        <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="B" placeholder="B" />
        <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="C" placeholder="C" />
        <b-button variant="primary" type="submit">Решить</b-button>
      </b-form>
      <p class="mt-3 alert alert-primary col-6 d-block" v-if="X.length > 0">
        <span v-for="(x, index) in X">X{{ index + 1 }} = {{ x }} <br></span>
      </p>
    </b-row>
  </b-container>
</template>

<script>
  export default {
    name: 'index',
    data: () => ({
      A: '',
      B: '',
      C: '',
      X: []
    }),
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      lab2 (sub) {
        if (isNaN(+this.A) || isNaN(+this.B) || isNaN(+this.C)) {
          alert('Не корректно введены данные')
        }
        this.X = []
        let D = Number(this.B) * Number(this.B) - 4 * Number(this.A) * Number(this.C)
        if (D === 0) {
          this.X.push(-this.B / (2 * this.A))
        } else if (D > 0) {
          this.X.push((-this.B - Math.sqrt(D)) / (2 * this.A))
          this.X.push((-this.B + Math.sqrt(D)) / (2 * this.A))
        } else if (D < 0) {
          alert('No solutions')
        }
      }
    }
  }
</script>

<style>

</style>
