<template>
	<b-container class="align-items-center justify-content-center">
    <b-row align-v="center" class="justify-content-center">
      <b-form inline v-on:submit.prevent="lab3" class="mt-2">
        <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="newTodo" placeholder="X" />
        <b-button variant="primary" type="submit">Добавить</b-button>
        <b-button variant="danger" @click="x = []" class="ml-2">Отчистить</b-button>
        <b-button variant="success" @click="sortX" class="ml-2 ">Сортировать</b-button>
      </b-form>
    </b-row>
    <b-row>
      <b-col md=3>
        <li v-for="elem in x" :key="elem.id" class="list-group-item mt-0 mb-0 pt-2 pb-2 card">{{elem.num}}</li>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'lab3',
  data: () => ({
    x: [],
    newTodo: '',
    i: 0
  }),
  methods: {
    lab3 (sub) {
      console.log(!isNaN(Number(this.newTodo)))
      if (this.newTodo !== '' && (!isNaN(Number(this.newTodo)))) {
        this.x.push({
          id: this.i,
          num: Number(this.newTodo)
        })
        this.newTodo = ''
        this.i++
      } else {
        alert('Введены некорректные данные')
      }
    },
    sortX () {
      this.x = this.x.sort(function (a, b) {
        if (Number(a.num) < Number(b.num)) {
          return 1
        }
        if (Number(a.num) > Number(b.num)) {
          return -1
        }
        // a должно быть равным b
        return 0
      })
    }
  }
}
</script>

<style>
	
</style>