<template>
	<b-container class="align-items-center justify-content-center">
    <b-row align-v="center" class="justify-content-center">
      <b-form inline class="mt-2">
        <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="n" placeholder="N" />
        <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="m" placeholder="M" />
        <b-button variant="success" class="mb-2 mt-sm-2 mb-sm-0" @click="start">Расчитать</b-button>
      </b-form>
    </b-row>
    <span></span>
    <b-row class="mt-3">
      <b-col>
        <table v-if='A.length > 0'>
          <tr v-for='(row, index) in A'>
            <td v-for='(col, index2) in row'>
              <b-input v-model='A[index][index2]' :placeholder="'A[' + (index + 1) + '][' + (index2 + 1) + ']'" />
            </td>
          </tr>
        </table>
      </b-col>
      +
      <b-col>
        <table v-if='B.length > 0'>
          <tr v-for='(row, index) in B'>
            <td v-for='(col, index2) in row'>
              <b-input v-model='B[index][index2]' :placeholder="'B[' + (index + 1) + '][' + (index2 + 1) + ']'" />
            </td>
          </tr>
        </table>
      </b-col>
      =
      <b-col>
        <table v-if='C.length > 0'>
          <tr v-for='(row, index) in C'>
            <td class="border p-2" v-for='(col, index2) in row'>{{ C[index][index2] }}</td>
          </tr>
        </table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'lab3',
  data: () => ({
    n: '',
    m: '',
    B: [],
    A: [],
    C: []
  }),
  methods: {
    start () {
      let check = true
      for (let i = 0; i < Number(this.n); i++) {
        for (let j = 0; j < Number(this.m); j++) {
          if (isNaN(Number(this.A[i][j])) || isNaN(Number(this.B[i][j]))) {
            check = false
          }
        }
      }
      if (check) {
        for (let i = 0; i < Number(this.n); i++) {
          for (let j = 0; j < Number(this.m); j++) {
            this.C[i][j] = Number(this.A[i][j]) + Number(this.B[i][j])
          }
        }
      } else {
        alert('Ошибка')
      }
    }
  },
  watch: {
    // эта функция запускается при любом изменении вопроса
    n: function (newN, oldN) {
      this.A = []
      this.B = []
      this.C = []
      for (let i = 0; i < Number(newN); i++) {
        this.A[i] = []
        this.B[i] = []
        this.C[i] = []
      }
    },
    m: function (newM, oldM) {
      for (let j = 0; j < Number(this.n); j++) {
        for (let i = 0; i < Number(newM); i++) {
          this.A[j][i] = ''
          this.B[j][i] = ''
          this.C[j][i] = ' '
        }
      }
      console.log(this.A)
    },
    A: function (newA, oldA) {
      console.log(newA)
    }
  }
}
</script>

<style>
	
</style>