<template>
  <b-container class='align-items-center justify-content-center mt-1'>
    <b-row align-v='center' class='justify-content-center'>
      <b-col md=3>
        <b-input class='mb-2 mr-sm-2 mb-sm-0' v-model='n' placeholder='N' />
      </b-col>
    </b-row>
    <b-row align-v='center' class='justify-content-center mt-4'>
      <b-col md=6>
        <table class='table table table-bordered'>
          <thead>
            <tr>
              <td>N</td>
              <td>Название товара</td>
              <td>Цена товара</td>
              <td>Кол-во</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for='(prod, index) in products.length'>
              <td>{{ index + 1 }}</td>
              <td><b-input v-model='products[index].name' placeholder='name' /></td>
              <td><b-input v-model='products[index].cost' placeholder='Cost' /></td>
              <td><b-input v-model='products[index].len' placeholder='Length' /></td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
    <b-row align-v='center' class='justify-content-center mt-4'>
      <b-col md=1><b-button variant='success' @click='getChart'>Расчитать</b-button></b-col>
    </b-row>
    <div id="container"></div>
  </b-container>
</template>

<script>
import Highcharts from 'highcharts'
import Exporting from 'highcharts/modules/exporting'
Exporting(Highcharts)
export default {
  name: 'lab3',
  data: () => ({
    n: '',
    products: []
    // data
  }),
  methods: {
    getChart () {
      let cost = []
      let check = true
      this.products.forEach((item) => {
        if (item.name !== '' && !isNaN(Number(item.cost)) && !isNaN(Number(item.len))) {
          cost.push(Number(item.cost) * Number(item.len))
        } else {
          check = false
        }
      })
      if (check) {
        let datas = []
        let sum = cost.reduce((a, b) => { return (a + b) })
        this.products.forEach((item, index) => {
          item.percentage = Number((cost[index] * 100 / sum).toFixed(2))
          datas.push({name: item.name, y: item.percentage})
        })
        Highcharts.chart('container', {
          chart: {
            type: 'pie'
          },
          series: [
            {
              name: 'Products',
              colorByPoint: true,
              data: datas
            }
          ]
        })
      } else {
        alert('Введите данные корректно')
      }
    }
  },
  watch: {
    n: function (newN, oldN) {
      this.products = []
      for (let i = 0; i < Number(newN); i++) {
        this.products.push(new Products('', '', ''))
      }
    }
  }
}

class Products {
  constructor (name, cost, len) {
    this.name = name
    this.cost = cost
    this.len = len
    this.percentage = 0
  }
}
</script>

<style>
  
</style>