<template>
  <b-container class='align-items-center justify-content-center mt-1' style='height: calc(100vh - 60px)'>
    <b-button v-if='part !== 0' @click='setPart(0)'>Назад</b-button>
    <b-row v-if='part === 0' align-v='center' class='align-items-center justify-content-center h-100'>
      <b-col md=2 class='align-items-center justify-content-center'>
        <b-button class='my-1' @click='setPart(1)'>Задача 1</b-button>
        <b-button class='my-1' @click='setPart(2)'>Задача 2</b-button>
        <b-button class='my-1' @click='setPart(3)'>Задача 3</b-button>
        <b-button class='my-1' @click='setPart(4)'>Задача 4</b-button>
      </b-col>
    </b-row>
    <part1  v-if='part == 1'></part1>
    <part2  v-if='part == 2'></part2>
    <part3  v-if='part == 3'></part3>
    <part4  v-if='part == 4'></part4>
  </b-container>
</template>

<script>
import part1 from './lab7/part1.vue'
import part2 from './lab7/part2.vue'
import part3 from './lab7/part3.vue'
import part4 from './lab7/part4.vue'
export default {
  name: 'lab7',
  data: () => ({
    part: 0
  }),
  components: {
    'part1': part1,
    'part2': part2,
    'part3': part3,
    'part4': part4
  },
  methods: {
    setPart (n) {
      this.part = n
    }
  }
  // watch: {
  //   n: function (newN, oldN) {
  //     this.products = []
  //     for (let i = 0; i < Number(newN); i++) {
  //       this.products.push(new Products('', '', ''))
  //     }
  //   }
  // }
}
</script>

<style>
  
</style>