<template>
  <b-row align-v='center' class='align-items-center justify-content-center'>
    <b-form inline class="mt-2">
      <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="n[0]" placeholder="A" />
      <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="n[1]" placeholder="B" />
      <b-form-radio v-model="selected" name="some-radios" value="1">Y=A+B</b-form-radio>
      <b-form-radio v-model="selected" name="some-radios" value="2">Y=A/B</b-form-radio>
      <b-form-radio v-model="selected" name="some-radios" value="3">Y=A*B</b-form-radio>
      <button variant="success" class="btn btn-success mb-2 mt-sm-2 mb-sm-0" @click="check">Расчитать</button>
    </b-form>
    <b-col md='12'>
      <p class='text-center font-weight-bold' v-if='answer !== null'> Y = {{ answer }}</p>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'lab7_1',
  data: () => ({
    n: [],
    selected: '',
    answer: null
  }),
  methods: {
    check () {
      this.answer = ''
      if (Number(this.selected) === 1) {
        this.answer = Number(this.n[0]) + Number(this.n[1])
      } else if (Number(this.selected) === 2) {
        this.answer = Number(this.n[0]) / Number(this.n[1])
      } else if (Number(this.selected) === 3) {
        this.answer = Number(this.n[0]) * Number(this.n[1])
      }
    }
  },
  watch: {
    selected: function (n, old) {
      this.answer = ''
      if (Number(n) === 1) {
        this.answer = Number(this.n[0]) + Number(this.n[1])
      } else if (Number(n) === 2) {
        this.answer = Number(this.n[0]) / Number(this.n[1])
      } else if (Number(n) === 3) {
        this.answer = Number(this.n[0]) * Number(this.n[1])
      }
    }
  }
}
</script>

<style>
  
</style>