<template>
  <b-row align-v='center' class='align-items-center justify-content-center'>
    <b-form inline class="mt-2">
      <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="n[0]" placeholder="Начальная скорость" />
      <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="n[1]" placeholder="Ускорение" />
      <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="n[2]" placeholder="Время" />
      <button variant="success" class="btn btn-success mb-2 mt-sm-2 mb-sm-0" @click="check">Расчитать</button>
    </b-form>
    <b-col md='12'>
      <p class='text-center font-weight-bold' v-if='answer !== null'> Конечная скорость: {{ answer[0] }}</p>
      <p class='text-center font-weight-bold' v-if='answer !== null'> Расстояние: {{ answer[1] }}</p>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'lab7_1',
  data: () => ({
    n: [],
    answer: []
  }),
  methods: {
    check () {
      this.answer[0] = Number(this.n[0]) + Number(this.n[1]) * Number(this.n[2])
      this.answer[1] = (Number(this.n[1]) * Number(this.n[2]) * Number(this.n[2])) / 2 + Number(this.n[0]) * Number(this.n[2])
      console.log(Math.pow(Number(this.n[2])))
    }
  }
}
</script>

<style>
  
</style>