<template>
  <b-row align-v='center' class='align-items-center justify-content-center'>
    <b-form inline class="mt-2">
      <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="n[0]" placeholder="A" />
      <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="n[1]" placeholder="B" />
      <b-button variant="success" class="mb-2 mt-sm-2 mb-sm-0" @click="check()">Расчитать</b-button>
    </b-form>
    <b-col md='12'>
      <p class='text-center font-weight-bold' v-if='answer !== null'> Катет: {{ answer }}</p>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'lab7',
  data: () => ({
    n: [],
    answer: null
  }),
  methods: {
    check () {
      this.answer = Math.sqrt(this.n[0] * this.n[0] + this.n[1] * this.n[1])
    }
  }
}
</script>

<style>
  
</style>