<template>
  <b-row align-v='center' class='align-items-center justify-content-center'>
    <b-form inline class="mt-2">
      <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="n[0]" placeholder="A" />
      <b-input class="mb-2 mr-sm-2 mb-sm-0" v-model="n[1]" placeholder="B" />
       <b-form-checkbox-group id="checkbox-group-2" v-model="selected">
        <b-form-checkbox value="1">X=A+B</b-form-checkbox>
        <b-form-checkbox value="2">Y=A-B</b-form-checkbox>
        <b-form-checkbox value="3">Z=A*B</b-form-checkbox>
      </b-form-checkbox-group>
    </b-form>
    <b-col md='12'>
      <p class='text-center font-weight-bold' v-for="ans in answer">{{ ans.sum + ' = ' + ans.otv }}</p>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'lab7_1',
  data: () => ({
    n: [],
    selected: [],
    answer: []
  }),
  watch: {
    selected: function (n, old) {
      this.answer = []
      n.forEach(ch => {
        if (Number(ch) === 1) {
          this.answer.push({sum: 'X', otv: Number(this.n[0]) + Number(this.n[1])})
        } else if (Number(ch) === 2) {
          this.answer.push({sum: 'Y', otv: Number(this.n[0]) - Number(this.n[1])})
        } else if (Number(ch) === 3) {
          this.answer.push({sum: 'Z', otv: Number(this.n[0]) * Number(this.n[1])})
        }
      })
    }
  }
}
</script>

<style>
  
</style>