<template>
  <div id="app">
    <b-navbar toggleable="lg" variant="light">
      <b-navbar-toggle target="nav_text_collapse" />

      <b-navbar-brand>ООП</b-navbar-brand>

      <b-collapse is-nav id="nav_text_collapse">
        <b-navbar-nav>
          <b-nav-item to="index">Главная</b-nav-item>
          <b-nav-item to="lab3">3 Лаба</b-nav-item>
          <b-nav-item to="lab4">4 Лаба</b-nav-item>
          <b-nav-item to="lab5">5 Лаба</b-nav-item>
          <b-nav-item to="lab7">7 Лаба</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'oop'
  }
</script>

<style>
  /* CSS */
</style>
